name: test

on:
  - push
  - pull_request

jobs:
  execute-on-macos:
    name: execute on macOS
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: ./download-gh.sh
      - run: test -f ./gh.zip
      - run: ./download-gh.sh /tmp
      - run: test -f /tmp/gh.zip
      - run: unzip gh.zip
      - run: mv gh_* gh
      - run: ./gh/bin/gh --version
  execute-on-ubuntu:
    name: execute on Ubuntu
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: ./download-gh.sh
      - run: test -f ./gh.tar.gz
      - run: ./download-gh.sh /tmp
      - run: test -f /tmp/gh.tar.gz
      - run: mkdir gh
      - run: tar fxv gh.tar.gz --strip-components 1 -C gh
      - run: ./gh/bin/gh --version
  shellcheck:
    name: shellcheck
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: docker://koalaman/shellcheck:stable
        with:
          args: ./download-gh.sh
