name: test

on:
  - push
  - pull_request

jobs:
  execute-on-macos:
    name: execute on macOS
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: ./download-gh.sh
      - run: test -f ./gh.zip
      - run: ./download-gh.sh /tmp
      - run: test -f /tmp/gh.zip
      - run: unzip gh.zip
      - run: mv gh_* gh
      - run: ./gh/bin/gh --version
  execute-on-ubuntu:
    name: execute on Ubuntu
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: ./download-gh.sh
      - run: test -f ./gh.tar.gz
      - run: ./download-gh.sh /tmp
      - run: test -f /tmp/gh.tar.gz
      - run: mkdir gh
      - run: tar fxv gh.tar.gz --strip-components 1 -C gh
      - run: ./gh/bin/gh --version
  shellcheck:
    name: shellcheck
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: docker://koalaman/shellcheck:stable@sha256:bb596a0d169b85ddd81d8b6d3a2ff6d5baf5fca10b97f575ebc647c3dff62b3d
        with:
          args: ./download-gh.sh
